* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url("../images/header-illsutration-mobile.svg");
  background-size: cover;
  height: 100vh;
}

/* NAVBAR */

nav {
  /* width: 40%; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  padding-top: 1rem;
}

.desktop-ul {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-link {
  padding: 0 1rem;
}

.navbar-link > a {
  text-decoration: none;
  color: #344563;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  transition: color 0.5s;
}

/* HEADLINE */

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.headline > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.dark-blue {
  color: #172b4d;
}

.green {
  color: #23bb7c;
}

.headline > p {
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
  width: 50%;
  line-height: 1.8rem;
  text-align: center;
  font-size: 20px;
  color: #172b4d;
}

/* HEADER LINKS SECTION */

.social-media-headline {
  display: flex;
  margin-top: 2rem;
}

.link-item {
  margin-left: 1rem;
  transition: all 0.3s;
}

.link-item:hover {
  transform: scale(1.3);
}

.chevron-down {
  border: 1px solid #afafaf;
  border-radius: 50%;
  margin-top: 3rem;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.chevron-down:hover {
  background-color: #bdbdbd;
}

/* WORKS SECTION */

.works-section {
  display: grid;
  grid-template-columns: 1 80%;
  margin-top: 6rem;
  justify-content: center;
}

.works-section-header {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
}

.short-line {
  margin: 2rem auto;
  height: 0.25rem;
  width: 2.5rem;
  background-color: #36b37e;
  border-radius: 24px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-sample {
  border: 1px solid #d0d9d4;
  height: 32rem;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: #ebf0ee;
  margin: 1rem auto;
}

.details {
  justify-self: center;
  align-self: end;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 1rem auto;
  color: #3a4a42;
}

.tech-used {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1.5rem;
}

.tech-used-item {
  padding: 8px 12px;
  background: #ebf0ee;
  margin: 0.4rem;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.tech-used-item:hover {
  background: #cdd3d1;
}

.tech-used-item > a {
  color: #3a4a42;
  text-decoration: none;
}

.green-btn {
  border: none;
  outline: none;
  text-align: center;
  padding: 11px;
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #36b37f;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.green-btn:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.green-btn:active {
  background-color: #008552;
}

/* ABOUT ME SECTION */

.about-myself {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.about-myself-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  height: 80%;
  width: 100%;
  justify-content: space-around;
  background: url("../images/Group.png") 0 100% no-repeat, url("../images/illustration-1-about-me-mobile.svg") right -10% no-repeat;
}

.about-myself-header > h3 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 36px;
  color: #172b4d;
}

.about-myself-header > p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 85%;
  color: #172b4d;
  margin: 1rem 0;
}

.about-me-card {
  margin: 2rem auto;
  width: 90%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 0.5rem;
  transition: transform 1s, box-shadow 1s;
}

.about-me-card > .img-container {
  margin-top: 1rem;
}

.about-me-card > h3 {
  color: #344563;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.tech-learned {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1.5rem;
}

.about-me-card:nth-child(1) > .tech-learned {
  margin-bottom: 4.5rem;
}

.tech-learned-item {
  padding: 8px 12px;
  background: #fff;
  margin: 0.4rem;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.tech-learned-item > a {
  color: #36b37e;
  text-decoration: none;
}

.navbar-link > a:hover {
  color: #23bb7c;
}

/* FORM SECTION */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 2rem auto;
  font-family: "Inter", sans-serif;
  background: url("../images/form-background.svg") bottom right no-repeat;
}

form > h2 {
  text-align: center;
  font-weight: 700;
  color: #172b4d;
  font-size: 40px;
  padding: 1rem;
}

.form-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 3rem auto;
  width: 80%;
}

.form-li {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.fst-and-lst-nm-input {
  display: none;
}

#full-name {
  margin: 1rem 0;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: border 0.3s;
}

#full-name:focus {
  border: 1px solid #60c095;
  outline: none;
}

#first-name {
  margin: 1rem 0.5rem 1rem 0;
  width: 80%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: border 0.3s;
}

#first-name:focus {
  border: 1px solid #60c095;
  outline: none;
}

#last-name {
  margin: 1rem 0 1rem 0.5rem;
  width: 80%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: border 0.3s;
}

#last-name:focus {
  border: 1px solid #60c095;
  outline: none;
}

#email-address {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: border 0.3s;
}

#email-address:focus {
  border: 1px solid #60c095;
  outline: none;
}

#message {
  margin: 1rem 0;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  min-width: 100%;
  max-width: 100%;
  min-height: 6.5rem;
  max-height: 13.5rem;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: border 0.3s;
}

#message:focus {
  border: 1px solid #60c095;
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.footer-email {
  font-family: "Inter", sans-serif;
  color: #42526e;
  font-size: 17px;
  text-align: center;
}

.footer-social-links {
  margin: 1rem auto;
}

.gray-line {
  display: none;
}

@media screen and (min-width: 200px) {
  /* HEADER */

  header {
    background-image: url("../images/header-illsutration-mobile.svg");
  }

  /* HEADLINE */

  .headline > h1 {
    text-align: center;
  }

  .headline > p {
    width: 90%;
  }
}

@media screen and (min-width: 200px) and (max-width: 300px) {
  /* WORKS SECTION */

  .works-section {
    margin-top: 10rem;
  }

  /* ABOUT MYSELF SECTION */

  .about-myself {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 376px) {
  /* HEADER */

  header {
    background-image: url("../images/Header-llustration-desktop.svg");
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  /* HEADER */

  header {
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "hl hl hl hl"
      "hl hl hl hl"
      "hl hl hl hl";
  }

  nav {
    grid-area: nav;
  }

  .mobile-ul {
    display: none;
  }

  .desktop-ul {
    display: flex;
    justify-content: center;
  }

  /* HEADLINE */

  .headline > h1 {
    font-size: 48px;
  }

  /* RECENT WORKS SECTION */

  .works-section {
    display: flex;
    flex-direction: column;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  /* ABOUT ME SECTION */

  .about-myself {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-myself-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 17rem;
    margin-bottom: 3rem;
  }

  .about-myself-header > p {
    width: 77%;
  }

  .ab-me-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 0 6.5rem;
  }

  .about-me-card {
    width: 95%;
  }
}

@media screen and (max-width: 914px) {
  .ab-me-cards-container {
    display: grid;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  /* WORKS SECTION */

  .projects {
    grid-template-columns: repeat(3, 33.33%);
    margin: 0 2rem;
  }

  .project-sample {
    width: 95%;
  }

  /* ABOUT ME SECTION */

  .about-myself-header {
    background: url("../images/about-me-desktop-bg-2.svg") 0 100% no-repeat, url("../images/About-me-desktop-bg.svg") right top no-repeat;
    height: 17rem;
    margin-top: 0;
  }

  .about-myself-header > p {
    width: 55%;
  }

  /* FORM SECTION */

  form {
    display: grid;
    grid-template-columns: 35% 65%;
    background: url("../images/illustration-1-contact-form-desktop.svg") bottom left no-repeat, url("../images/illustration-2-contact-form-desktop.svg") bottom no-repeat;
    height: 35rem;
    margin: 0;
  }

  .form-btn-li {
    display: flex;
    justify-content: flex-start;
  }

  .form-btn {
    margin: 0;
  }

  /* GRAY LINE */

  /* .gray-line {
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    background-color: #dfe1e6;
  } */

  /* FOOTER */

  footer {
    border-top: 1px solid #dfe1e6;
    margin: 0.5rem;
  }

  .footer-email {
    display: none;
  }

  .footer-social-links {
    margin-top: 1rem auto;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1152px) {
  /* ABOUT ME SECTION */

  .about-me-card:nth-child(1) > .tech-learned {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 2560px) {
  /* HEADER */

  header {
    background-image: url("../images/Header-llustration-desktop.svg");
    background-size: cover;
  }

  .navbar-link > a {
    font-size: 40px;
  }

  /* HEADLINE */

  .headline {
    margin-top: 18rem;
  }

  .headline > h1 {
    font-size: 78px;
  }

  .headline > p {
    font-size: 38px;
    margin-top: 3rem;
    line-height: 1;
    width: 36%;
  }
}

.project-sample:hover {
  animation: breathing-shadow 1s infinite ease-in-out;
}

@keyframes breathing-shadow {
  0% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    transition: border 0.3s;
  }

  100% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
  }
}

.about-me-card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 23px 6px #172b4d52;
}
